/home/wyatt/new_proj/rKVCRDT/plot/data/chart5/Counter-baseline-balanced-x1client/Counter-baseline-balanced-1xclient_lt.txt baseline-balanced(write) i,d				black,dotted
/home/wyatt/new_proj/rKVCRDT/plot/data/chart5/Counter-baseline-balanced-x1client/Counter-baseline-balanced-1xclient_lt.txt baseline-balanced(read) g				black,dashed
/home/wyatt/new_proj/rKVCRDT/plot/data/chart5/Counter-rev10%lazy-balanced-x1client/Chart1-2-Counter-rev100lazy-balanced-1xclient_lt.txt rev100lazy-balanced(write) i,d		blue,dotted
/home/wyatt/new_proj/rKVCRDT/plot/data/chart5/Counter-rev10%lazy-balanced-x1client/Chart1-2-Counter-rev100lazy-balanced-1xclient_lt.txt rev100lazy-balanced(read) g		blue,dashed
/home/wyatt/new_proj/rKVCRDT/plot/data/chart5/Counter-rev30%lazy-balanced-x1client/Chart1-2-Counter-rev300lazy-balanced-1xclient_lt.txt rev300lazy-balanced(write) i,d		red,dotted
/home/wyatt/new_proj/rKVCRDT/plot/data/chart5/Counter-rev30%lazy-balanced-x1client/Chart1-2-Counter-rev300lazy-balanced-1xclient_lt.txt rev300lazy-balanced(read) g		red,dashed
