/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Chart1-2-Counter-300eager-balanced-varyclient/Chart1-2-Counter-300eager-balanced-varyclient-run0_lt.txt 300eager-balanced(read) g red,dotted
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Chart1-2-Counter-300eager-balanced-varyclient/Chart1-2-Counter-300eager-balanced-varyclient-run0_lt.txt 300eager-balanced(write) i,d red,dashed
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Chart1-2-Counter-rev0eager-balanced/Chart1-2-Counter-rev0eager-balanced-1xclient_lt.txt rev0eager-balanced(read) g green,dotted
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Chart1-2-Counter-rev0eager-balanced/Chart1-2-Counter-rev0eager-balanced-1xclient_lt.txt rev0eager-balanced(write) i,d green,dashed
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Chart1-2-Counter-rev100eager-balanced/Chart1-2-Counter-rev100eager-balanced-1xclient_lt.txt rev100eager-balanced(read) g blue,dotted
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Chart1-2-Counter-rev100eager-balanced/Chart1-2-Counter-rev100eager-balanced-1xclient_lt.txt rev100eager-balanced(write) i,d blue,dashed
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Counter-baseline-balanced-x1client/Counter-baseline-balanced-1xclient_lt.txt baseline-balanced(read) g black,dotted
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Counter-baseline-balanced-x1client/Counter-baseline-balanced-1xclient_lt.txt baseline-balanced(write) i,d black,dashed
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Counter-rev10%lazy-balanced-x1client/Chart1-2-Counter-rev100lazy-balanced-1xclient_lt.txt rev100lazy-balanced(read) g cyan,dotted
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Counter-rev10%lazy-balanced-x1client/Chart1-2-Counter-rev100lazy-balanced-1xclient_lt.txt rev100lazy-balanced(write) i,d cyan,dashed
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Counter-rev30%lazy-balanced-x1client/Chart1-2-Counter-rev300lazy-balanced-1xclient_lt.txt rev300lazy-balanced(read) g magenta,dotted
/home/ubuntu/exp2/rev202205results/chart5-1_5-2_Counter_Read_Write_CDF/Counter-rev30%lazy-balanced-x1client/Chart1-2-Counter-rev300lazy-balanced-1xclient_lt.txt rev300lazy-balanced(write) i,d magenta,dashed
