/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/Chart1-3-Graph-baseline-balanced-varyclient/Chart1-3-Graph-baseline-balanced-varyclient-run0_lt.txt baseline-balanced(read) g black,dotted
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/Chart1-3-Graph-baseline-balanced-varyclient/Chart1-3-Graph-baseline-balanced-varyclient-run0_lt.txt baseline-balanced(write) av,ae black,dashed
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/Chart1-4-Graph-0eager-balanced-varyclient/Chart1-4-Graph-0eager-balanced-varyclient-run0_lt.txt 0eager-balanced(read) g black,dotted
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/Chart1-4-Graph-0eager-balanced-varyclient/Chart1-4-Graph-0eager-balanced-varyclient-run0_lt.txt 0eager-balanced(write) av,ae black,dashed
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/Chart1-4-Graph-100eager-balanced-varyclient/Chart1-4-Graph-100eager-balanced-varyclient-run0_lt.txt 100eager-balanced(read) g black,dotted
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/Chart1-4-Graph-100eager-balanced-varyclient/Chart1-4-Graph-100eager-balanced-varyclient-run0_lt.txt 100eager-balanced(write) av,ae black,dashed
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/Chart1-4-Graph-300eager-balanced-varyclient/Chart1-4-Graph-300eager-balanced-varyclient-run0_lt.txt 300eager-balanced(read) g black,dotted
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/Chart1-4-Graph-300eager-balanced-varyclient/Chart1-4-Graph-300eager-balanced-varyclient-run0_lt.txt 300eager-balanced(write) av,ae black,dashed
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/graph-rev0lazy-balanced-lowtp/Chart1-3-Graph-0lazy-balanced-varyclient-run0_lt.txt 0lazy-balanced(read) g black,dotted
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/graph-rev0lazy-balanced-lowtp/Chart1-3-Graph-0lazy-balanced-varyclient-run0_lt.txt 0lazy-balanced(write) av,ae black,dashed
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/graph-rev100lazy-balanced-lowtp/Chart1-3-Graph-100lazy-balanced-varyclient-run0_lt.txt 100lazy-balanced(read) g black,dotted
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/graph-rev100lazy-balanced-lowtp/Chart1-3-Graph-100lazy-balanced-varyclient-run0_lt.txt 100lazy-balanced(write) av,ae black,dashed
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/graph-rev300lazy-balanced-lowtp/Chart1-3-Graph-300lazy-balanced-varyclient-run0_lt.txt 300lazy-balanced(read) g black,dotted
/home/ubuntu/exp2/rev202205results/chart5-3_5-4_Graph_Read_Write_CDF/graph-rev300lazy-balanced-lowtp/Chart1-3-Graph-300lazy-balanced-varyclient-run0_lt.txt 300lazy-balanced(write) av,ae black,dashed
