/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-baseline-balanced-varyclient Counter-baseline-balanced     	o,black,solid
/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-baseline-readheavy-varyclient Counter-baseline-readheavy		x,black,dashed
/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-rev0lazy-balanced-varyclient Counter-rev0lazy-balanced		o,blue,solid
/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-rev0lazy-readheavy-varyclient Counter-rev0lazy-readheavy		x,blue,dashed
/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-rev0lazy-writeheavy-varyclient Counter-rev0lazy-writeheavy	^,blue,dashdot
/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-rev100lazy-balanced-varyclient Counter-rev100lazy-balanced	o,green,solid
/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-rev100lazy-readheavy-varyclient Counter-rev100lazy-readheavy	x,green,dashed
/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-rev100lazy-writeheavy-varyclient Counter-rev100lazy-writeheavy	^,green,dashdot
/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-rev300lazy-balanced-varyclient Counter-rev300lazy-balanced	o,red,solid
/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-rev300lazy-readheavy-varyclient Counter-rev300lazy-readheavy	x,red,dashed
/home/wyatt/new_proj/rKVCRDT/plot/data/chart1/Chart1-1-Counter-rev300lazy-writeheavy-varyclient Counter-rev300lazy-writeheavy	^,red,dashdot
