/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-baseline-balanced-varyclient baseline-balanced 		o,black,solid
/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-baseline-readheavy-varyclient baseline-readheavy 	o,black,dotted
/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-rev0lazy-balanced-varyclient 0lazy-balanced 		o,blue,solid
/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-rev0lazy-readheavy-varyclient 0lazy-readheavy 		o,blue,dotted
/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-rev0lazy-writeheavy-varyclient 0lazy-writeheavy 	o,blue,dashed
/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-100lazy-balanced-varyclient 100lazy-balanced 		o,green,solid
/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-100lazy-readheavy-varyclient 100lazy-readheavy 		o,green,dotted
/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-100lazy-writeheavy-varyclient 100lazy-writeheavy	o,green,dashed
/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-300lazy-balanced-varyclient 300lazy-balanced 		o,red,solid
/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-300lazy-readheavy-varyclient 300lazy-readheavy 		o,red,dotted
/home/ubuntu/exp2/rev202205results/chart1-1_Lazy_Counter_Throughput_vs_Latency/Chart1-1-Counter-300lazy-writeheavy-varyclient 300lazy-writeheavy 	o,red,dashed
