/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-baseline-balanced-varyclient baseline-balanced     o,black,solid
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-baseline-readheavy-varyclient baseline-readheavy     o,black,dotted
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-baseline-writeheavy-varyclient baseline-writeheavy     o,black,dashed
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-0lazy-balanced-varyclient 0lazy-balanced     o,blue,solid
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-0lazy-readheavy-varyclient 0lazy-readheavy     o,blue,dotted
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-0lazy-writeheavy-varyclient 0lazy-writeheavy     o,blue,dashed
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-100lazy-balanced-varyclient 100lazy-balanced     o,green,solid
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-100lazy-readheavy-varyclient 100lazy-readheavy     o,green,dotted
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-100lazy-writeheavy-varyclient 100lazy-writeheavy     o,green,dashed
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-300lazy-balanced-varyclient 300lazy-balanced     o,red,solid
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-300lazy-readheavy-varyclient 300lazy-readheavy     o,red,dotted
/home/ubuntu/exp2/rev202205results/chart1-3_Lazy_Graph_Throughput_vs_Latency/Chart1-3-Graph-300lazy-writeheavy-varyclient 300lazy-writeheavy     o,red,dashed
