/home/ubuntu/exp2/rev202205results/chart1-4_Eager_Graph_Throughput_vs_Latency/Chart1-4-Graph-0eager-balanced-varyclient 0eager-balanced           o,blue,solid
/home/ubuntu/exp2/rev202205results/chart1-4_Eager_Graph_Throughput_vs_Latency/Chart1-4-Graph-0eager-readheavy-varyclient 0eager-readheavy           o,blue,dotted
/home/ubuntu/exp2/rev202205results/chart1-4_Eager_Graph_Throughput_vs_Latency/Chart1-4-Graph-0eager-writeheavy-varyclient 0eager-writeheavy           o,blue,dashed
/home/ubuntu/exp2/rev202205results/chart1-4_Eager_Graph_Throughput_vs_Latency/Chart1-4-Graph-100eager-balanced-varyclient 100eager-balanced           o,green,solid
/home/ubuntu/exp2/rev202205results/chart1-4_Eager_Graph_Throughput_vs_Latency/Chart1-4-Graph-100eager-readheavy-varyclient 100eager-readheavy           o,green,dotted
/home/ubuntu/exp2/rev202205results/chart1-4_Eager_Graph_Throughput_vs_Latency/Chart1-4-Graph-100eager-writeheavy-varyclient 100eager-writeheavy           o,green,dashed
/home/ubuntu/exp2/rev202205results/chart1-4_Eager_Graph_Throughput_vs_Latency/Chart1-4-Graph-300eager-balanced-varyclient 300eager-balanced           o,red,solid
/home/ubuntu/exp2/rev202205results/chart1-4_Eager_Graph_Throughput_vs_Latency/Chart1-4-Graph-300eager-readheavy-varyclient 300eager-readheavy           o,red,dotted
/home/ubuntu/exp2/rev202205results/chart1-4_Eager_Graph_Throughput_vs_Latency/Chart1-4-Graph-300eager-writeheavy-varyclient 300eager-writeheavy           o,red,dashed
