/home/ubuntu/exp2/rev202205results/chart1-2_Eager_Counter_Throughput_vs_Latency/Chart1-2-Counter-rev0eager-balanced 0eager-balanced                  o,blue,solid
/home/ubuntu/exp2/rev202205results/chart1-2_Eager_Counter_Throughput_vs_Latency/Chart1-2-Counter-rev0eager-readheavy 0eager-readheavy                  o,blue,dotted
/home/ubuntu/exp2/rev202205results/chart1-2_Eager_Counter_Throughput_vs_Latency/Chart1-2-Counter-rev0eager-writeheavy 0eager-writeheavy                  o,blue,dashed
/home/ubuntu/exp2/rev202205results/chart1-2_Eager_Counter_Throughput_vs_Latency/Chart1-2-Counter-rev100eager-balanced 100eager-balanced                  o,green,solid
/home/ubuntu/exp2/rev202205results/chart1-2_Eager_Counter_Throughput_vs_Latency/Chart1-2-Counter-rev100eager-readheavy 100eager-readheavy                  o,green,dotted
/home/ubuntu/exp2/rev202205results/chart1-2_Eager_Counter_Throughput_vs_Latency/Chart1-2-Counter-rev100eager-writeheavy 100eager-writeheavy                  o,green,dashed
/home/ubuntu/exp2/rev202205results/chart1-2_Eager_Counter_Throughput_vs_Latency/Chart1-2-Counter-300eager-balanced-varyclient 300eager-balanced                  o,red,solid
/home/ubuntu/exp2/rev202205results/chart1-2_Eager_Counter_Throughput_vs_Latency/Chart1-2-Counter-300eager-readheavy-varyclient 300eager-readheavy                  o,red,dotted
/home/ubuntu/exp2/rev202205results/chart1-2_Eager_Counter_Throughput_vs_Latency/Chart1-2-Counter-300eager-writeheavy-varyclient 300eager-writeheavy                  o,red,dashed
