/home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-baseline-balanced-maxclient  baseline-balanced o,black,solid
/home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-baseline-readheavy-maxclient  baseline-readheavy o,black,dotted
/home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-baseline-writeheavy-maxclient  baseline-writeheavy o,black,dashed
/home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-balanced-x5client  eager-balanced o,blue,solid
/home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-readheavy-x5client  eager-readheavy o,blue,dotted
/home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-writeheavy-x5client  eager-writeheavy o,blue,dashed
/home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-balanced-x5client  lazy-balanced o,red,solid
/home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-readheavy-x5client  lazy-readheavy o,red,dotted
/home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client  lazy-writeheavy o,red,dashed
