/home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-baseline-balanced-maxclient baseline-balanced           o,black,solid
/home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-baseline-readheavy-maxclient baseline-readheavy           o,black,dotted
/home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-baseline-writeheavy-maxclient baseline-writeheavy           o,black,dashed
/home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-balanced-x6client eager-balanced           o,blue,solid
/home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-readheavy-x6client eager-readheavy           o,blue,dotted
/home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-writeheavy-x6client eager-writeheavy           o,blue,dashed
/home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-balanced-x6client lazy-balanced           o,red,solid
/home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-readheavy-x6client lazy-readheavy           o,red,dotted
/home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client lazy-writeheavy           o,red,dashed
