/home/wyatt/new_proj/rKVCRDT/plot/data/chart23/Chart2-1-Counter-baseline-balanced-maxclient Counter-baseline-balanced-maxclient   		o,black,solid
/home/wyatt/new_proj/rKVCRDT/plot/data/chart23/Chart2-1-Counter-baseline-readheavy-maxclient Counter-baseline-readheavy-maxclient   		o,black,dashed
/home/wyatt/new_proj/rKVCRDT/plot/data/chart23/Chart2-1-Counter-baseline-writeheavy-maxclient Counter-baseline-writeheavy-maxclient   		o,black,dotted
/home/wyatt/new_proj/rKVCRDT/plot/data/chart23/Chart2-1-Counter-varyrev-lazy-balanced-x6client Counter-varyrev-lazy-balanced-x6client   	o,black,solid
/home/wyatt/new_proj/rKVCRDT/plot/data/chart23/Chart2-1-Counter-varyrev-lazy-readheavy-x6client Counter-varyrev-lazy-readheavy-x6client 	o,black,dashed
/home/wyatt/new_proj/rKVCRDT/plot/data/chart23/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client Counter-varyrev-lazy-writeheavy-x6client   	o,black,dotted
