/home/ubuntu/exp2/rev202205results/chart4-1_Counter_Throughput_Timeseries/Chart4-1-Counter-0eager-balanced-varyclient-6client-ts/Chart4-1-Counter-0eager-balanced-varyclient-6client-ts_lt.txt  0eager-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-1_Counter_Throughput_Timeseries/Chart4-1-Counter-100eager-balanced-varyclient-6client-ts/Chart4-1-Counter-100eager-balanced-varyclient-6client-ts_lt.txt  100eager-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-1_Counter_Throughput_Timeseries/Counter-baseline-balanced-x6client-ts/Counter-baseline-balanced-x6client-ts_lt.txt  baseline-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-1_Counter_Throughput_Timeseries/Counter-rev0lazy-balanced-x6client-ts/Counter-rev0lazy-balanced-x6client-ts_lt.txt  rev0lazy-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-1_Counter_Throughput_Timeseries/Counter-rev100lazy-balanced-x6client-ts/Counter-rev100lazy-balanced-x6client-ts_lt.txt  rev100lazy-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-1_Counter_Throughput_Timeseries/Counter-rev300lazy-balanced-x6client-ts/Counter-rev300lazy-balanced-x6client-ts_lt.txt  rev300lazy-balanced 100,5
