/home/ubuntu/exp2/rev202205results/chart4-2_Graph_Throughput_Timeseries/Chart4-2-Graph-0eager-balanced-varyclient-5client-ts/Chart4-2-Graph-0eager-balanced-varyclient-5client-ts_lt.txt 0eager-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-2_Graph_Throughput_Timeseries/Chart4-2-Graph-100eager-balanced-varyclient-5client-ts/Chart4-2-Graph-100eager-balanced-varyclient-5client-ts_lt.txt 100eager-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-2_Graph_Throughput_Timeseries/Chart4-2-Graph-300eager-balanced-varyclient-5client-ts/Chart4-2-Graph-300eager-balanced-varyclient-5client-ts_lt.txt 300eager-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-2_Graph_Throughput_Timeseries/graph-baseline-balanced-x5client-ts/graph-baseline-balanced-x5client-ts_lt.txt  baseline-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-2_Graph_Throughput_Timeseries/graph-rev0lazy-balanced-x5client-ts/graph-rev0lazy-balanced-x5client-ts_lt.txt  rev0lazy-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-2_Graph_Throughput_Timeseries/graph-rev100lazy-balanced-x5client-ts/graph-rev100lazy-balanced-x5client-ts_lt.txt  rev100lazy-balanced 100,5
/home/ubuntu/exp2/rev202205results/chart4-2_Graph_Throughput_Timeseries/graph-rev300lazy-balanced-x5client-ts/graph-rev300lazy-balanced-x5client-ts_lt.txt  rev300lazy-balanced 100,5
