/home/wyatt/new_proj/rKVCRDT/plot/data/chart4/Counter-baseline-balanced-x6client-ts/Counter-baseline-balanced-x6client-ts_lt.txt baseline-balanced 100,5
/home/wyatt/new_proj/rKVCRDT/plot/data/chart4/Counter-rev0lazy-balanced-x6client-ts/Counter-rev0lazy-balanced-x6client-ts_lt.txt rev0lazy-balanced 100,5
/home/wyatt/new_proj/rKVCRDT/plot/data/chart4/Counter-rev100lazy-balanced-x6client-ts/Counter-rev100lazy-balanced-x6client-ts_lt.txt rev100lazy-balanced 100,5
/home/wyatt/new_proj/rKVCRDT/plot/data/chart4/Counter-rev300lazy-balanced-x6client-ts/Counter-rev300lazy-balanced-x6client-ts_lt.txt rev300lazy-balanced 100,5
