0,10,20,30,40,50 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-baseline-balanced-maxclient/Chart1-3-Graph-baseline-balanced-varyclient-run8_tp.csv
0,10,20,30,40,50 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-baseline-readheavy-maxclient/Chart1-3-Graph-baseline-readheavy-varyclient-run8_tp.csv
0,10,20,30,40,50 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-baseline-writeheavy-maxclient/Chart1-3-Graph-baseline-writeheavy-varyclient-run8_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-balanced-x5client/Chart2-2-Graph-varyrev-eager-balanced-x5client+rev0_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-balanced-x5client/Chart2-2-Graph-varyrev-eager-balanced-x5client+rev100_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-balanced-x5client/Chart2-2-Graph-varyrev-eager-balanced-x5client+rev200_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-balanced-x5client/Chart2-2-Graph-varyrev-eager-balanced-x5client+rev300_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-balanced-x5client/Chart2-2-Graph-varyrev-eager-balanced-x5client+rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-balanced-x5client/Chart2-2-Graph-varyrev-eager-balanced-x5client+rev500_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-readheavy-x5client/Chart2-2-Graph-varyrev-eager-readheavy-x5client+rev0_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-readheavy-x5client/Chart2-2-Graph-varyrev-eager-readheavy-x5client+rev100_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-readheavy-x5client/Chart2-2-Graph-varyrev-eager-readheavy-x5client+rev200_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-readheavy-x5client/Chart2-2-Graph-varyrev-eager-readheavy-x5client+rev300_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-readheavy-x5client/Chart2-2-Graph-varyrev-eager-readheavy-x5client+rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-readheavy-x5client/Chart2-2-Graph-varyrev-eager-readheavy-x5client+rev500_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-writeheavy-x5client/Chart2-2-Graph-varyrev-eager-writeheavy-x5client+rev0_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-writeheavy-x5client/Chart2-2-Graph-varyrev-eager-writeheavy-x5client+rev100_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-writeheavy-x5client/Chart2-2-Graph-varyrev-eager-writeheavy-x5client+rev200_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-writeheavy-x5client/Chart2-2-Graph-varyrev-eager-writeheavy-x5client+rev300_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-writeheavy-x5client/Chart2-2-Graph-varyrev-eager-writeheavy-x5client+rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-eager-writeheavy-x5client/Chart2-2-Graph-varyrev-eager-writeheavy-x5client+rev500_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-balanced-x5client/Chart2-2-Graph-varyrev-lazy-balanced-x5client+rev0_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-balanced-x5client/Chart2-2-Graph-varyrev-lazy-balanced-x5client+rev100_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-balanced-x5client/Chart2-2-Graph-varyrev-lazy-balanced-x5client+rev200_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-balanced-x5client/Chart2-2-Graph-varyrev-lazy-balanced-x5client+rev300_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-balanced-x5client/Chart2-2-Graph-varyrev-lazy-balanced-x5client+rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-balanced-x5client/Chart2-2-Graph-varyrev-lazy-balanced-x5client+rev500_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-readheavy-x5client/Chart2-2-Graph-varyrev-lazy-readheavy-x5client+rev0_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-readheavy-x5client/Chart2-2-Graph-varyrev-lazy-readheavy-x5client+rev100_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-readheavy-x5client/Chart2-2-Graph-varyrev-lazy-readheavy-x5client+rev200_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-readheavy-x5client/Chart2-2-Graph-varyrev-lazy-readheavy-x5client+rev300_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-readheavy-x5client/Chart2-2-Graph-varyrev-lazy-readheavy-x5client+rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-readheavy-x5client/Chart2-2-Graph-varyrev-lazy-readheavy-x5client+rev500_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client+rev0_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client+rev100_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client+rev200_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client+rev300_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client+rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-2_3-2_Graph_Throughput_Memory_vs_#_of_reversed/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client/Chart2-2-Graph-varyrev-lazy-writeheavy-x5client+rev500_tp.csv
