0,10,20,30,40,50 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-baseline-balanced-maxclient/Chart2-1-Counter-baseline-balanced-maxclient_tp.csv
0,10,20,30,40,50 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-baseline-readheavy-maxclient/Chart2-1-Counter-baseline-readheavy-maxclient_tp.csv
0,10,20,30,40,50 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-baseline-writeheavy-maxclient/Chart2-1-Counter-baseline-writeheavy-maxclient_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-balanced-x6client/Chart2-1-Counter-varyrev-eager-balanced-x6client-rev0_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-balanced-x6client/Chart2-1-Counter-varyrev-eager-balanced-x6client-rev100_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-balanced-x6client/Chart2-1-Counter-varyrev-eager-balanced-x6client-rev200_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-balanced-x6client/Chart2-1-Counter-varyrev-eager-balanced-x6client-rev300_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-balanced-x6client/Chart2-1-Counter-varyrev-eager-balanced-x6client-rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-balanced-x6client/Chart2-1-Counter-varyrev-eager-balanced-x6client-rev500_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-readheavy-x6client/Chart2-1-Counter-varyrev-eager-readheavy-x6client-rev0_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-readheavy-x6client/Chart2-1-Counter-varyrev-eager-readheavy-x6client-rev100_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-readheavy-x6client/Chart2-1-Counter-varyrev-eager-readheavy-x6client-rev200_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-readheavy-x6client/Chart2-1-Counter-varyrev-eager-readheavy-x6client-rev300_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-readheavy-x6client/Chart2-1-Counter-varyrev-eager-readheavy-x6client-rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-readheavy-x6client/Chart2-1-Counter-varyrev-eager-readheavy-x6client-rev500_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-writeheavy-x6client/Chart2-1-Counter-varyrev-eager-writeheavy-x6client-rev0_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-writeheavy-x6client/Chart2-1-Counter-varyrev-eager-writeheavy-x6client-rev100_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-writeheavy-x6client/Chart2-1-Counter-varyrev-eager-writeheavy-x6client-rev200_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-writeheavy-x6client/Chart2-1-Counter-varyrev-eager-writeheavy-x6client-rev300_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-writeheavy-x6client/Chart2-1-Counter-varyrev-eager-writeheavy-x6client-rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-eager-writeheavy-x6client/Chart2-1-Counter-varyrev-eager-writeheavy-x6client-rev500_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-balanced-x6client/Chart1-2-Counter-rev0lazy-balanced-6xclient_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-balanced-x6client/Chart1-2-Counter-rev100lazy-balanced-6xclient_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-balanced-x6client/Chart1-2-Counter-rev300lazy-balanced-6xclient_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-balanced-x6client/Chart2-1-Counter-varyrev-lazy-balanced-x6client-rev200_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-balanced-x6client/Chart2-1-Counter-varyrev-lazy-balanced-x6client-rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-balanced-x6client/Chart2-1-Counter-varyrev-lazy-balanced-x6client-rev500_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-readheavy-x6client/Chart1-2-Counter-rev0lazy-readheavy-6xclient_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-readheavy-x6client/Chart1-2-Counter-rev100lazy-readheavy-6xclient_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-readheavy-x6client/Chart1-2-Counter-rev300lazy-readheavy-6xclient_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-readheavy-x6client/Chart2-1-Counter-varyrev-lazy-readheavy-x6client-rev200_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-readheavy-x6client/Chart2-1-Counter-varyrev-lazy-readheavy-x6client-rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-readheavy-x6client/Chart2-1-Counter-varyrev-lazy-readheavy-x6client-rev500_tp.csv
10 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client/Chart1-1-Counter-100lazy-writeheavy-varyclient-run6_tp.csv
0 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client/Chart1-2-Counter-rev0lazy-writeheavy-6xclient_tp.csv
30 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client/Chart1-2-Counter-rev300lazy-writeheavy-6xclient_tp.csv
20 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client-rev200_tp.csv
40 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client-rev400_tp.csv
50 /home/ubuntu/exp2/rev202205results/chart2-1_3-1_Counter_Throughput_Memory_vs_#_of_reversed/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client/Chart2-1-Counter-varyrev-lazy-writeheavy-x6client-rev500_tp.csv
